<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="1.0.2" package="coma.appslinkAou.corresapp">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="AOU CMS " android:theme="@style/MainTheme" android:icon="@drawable/logo">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="${applicationId}.provider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
		</provider>
		<activity android:name="microsoft.identity.client.BrowserTabActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="msauth" android:host="coma.appslinkAou.corresapp"></data>
				<!--<data android:scheme="msauth9c52ece4-893f-4cc3-b1ed-4a529fd01da2" android:host="auth" />
					<data android:scheme="msauth" android:host="coma.appslinkAou.corresapp" />
						<data android:scheme="msauth" android:host="coma.appslink.corresapp" />
		-->
			</intent-filter>
		</activity>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>